* {
  box-sizing: border-box;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-bar {
  max-width: 80%;
  position: sticky;
  margin: auto;
  padding-top: 3vh;
  padding-bottom: 3vh;
  display: flex;
  padding-left:  5vw;
  justify-content: space-between;
  align-items: baseline;
  align-content: baseline;
}


.nav-logo {
  padding: 0;
  margin: 0;
}

.menu {
  margin-top: 5vh;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: baseline;
  align-self: center;
}

.menu li a{
  font-size: 20px;
  display: block;
  padding-right: 1em;
  text-decoration: none;
  color: #495E57;
}

.menu li a:hover {
  color: #333333;
}

.menu li:last-child a{
  background-color: #040d20;
  color: white;
  padding: 6px 15px;
  border-radius: 10px;
}

.menu li:last-child a:hover {
  color: wheat;
  background-color:  #333333;
}

.intro-section {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.intro-img {
  padding-top: 3vh;
  width: 532px;
  height: 420px;
  opacity: 0.7;
  aspect-ratio: 16/9;
  border-radius: 25px 25px 25px 25px;
  
}

.intro-msg {
    width: 70%;
    margin: 5vh auto 0vh;
}

.intro-body {
  width: 100%;
  color: #ffffff;
  padding-right: 10%;

}
.intro-body h1 {
  font-size: xx-large;
  color: #dfcb12;
}

.intro-body div {
  font-size: 25px;
}


.intro-btn {
  margin-top: 10vh;
}

.intro-btn a {
  padding: 5px 30px;
  background-color: #dfcb12;
  text-decoration: none;
  color: #040d20;
  border-radius: 8px;
  transition: 1s all;
}

.intro-btn a:hover {
  background-color: #151401;
  color: #ffffff;
}
.overlay {
  background-color: #040d20;
  padding: 3vh 0vh;
}

.specials {
  max-width: 100%;
  margin: auto;
  margin-bottom: 5vh;
}

.specials-container {
  background-color: #ffffff;
  padding: 10vh 3vw;
  max-width: 80%;
  margin: auto;
}

.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-content: baseline;
  align-self: baseline;
}

.order-btn {
  background-color: #040d20;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}

.order-btn:hover {
  background-color: #011032;
  color: wheat;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.specials-meals {
  display: flex;
  justify-content: space-between;
  padding-top: 10vh;
  margin-bottom: 1vh;
}
.specials-card {
  width: 30%;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  box-shadow: 3px 4px 10px #c8c8c8;
}

.specials-img img{
  display: block;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 200px;
}

.meal-header 
{
  display: flex;
  justify-content: space-between;
}

.meal-body 
{
  padding: 0vh 2vw;
}

.meal-order {
  padding: 3vh 0vw;
  color: #010d2a;
  font-size: 20px;
  text-align: right;
}

.meal-order a {
  background-color: #011a52;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: smaller;
  color: #ffffff;
  cursor: pointer;

}

.testimonials {
  text-align: center;
  background-color: #010d2a;
  margin-top: 10vh; 
  padding: 10vh 0vh;
}

.testimonials-container {
  max-width: 80%;
  margin: auto;
  margin-bottom: 10vh;
}

.testimonials-container h2 {
  color: #ffffff;
}


.testimonial-card {
  margin-top: 5vh;
  text-align: justify;
  padding: 20px;
  background-color: #f9f9f9;
  margin-right: 10px;
  border-radius: 10px;
}

.testimonial-msg {

}

.testimonial-avatar {
  display: flex;
}


.testimonial-img {
  width: 25%;
  height: 25%;
  display: block;
  padding-right: 20px;
  border-radius: 50%;
}

.testimonial-details h5 {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.testimonial-details p {
  margin-top: 0;
}

.all-chefs h2 {
  padding: 5vh;
  margin-top: 5vh;
}
.all-chefs-container {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 10vh auto;
}

.chef-card {
  width: 25%;
  padding: 25px 25px;
  border-radius: 15px;
  background-color: rgb(240, 236, 227);
  margin-right: 10px;
  transition: height 3s;
  margin-bottom: 5vh;
}

.chef-card:hover {
  height: px;
}

.chef-card h3, .chef-card p {
  text-align: center;
}

.chef-card img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

footer {
  padding: 10vh 0vh 0vh 0vh;
  background-color: #010d2a;
  color: #f9f9f9;
}

.footer-info {
  display: flex;
  max-width: 80%;
  margin: auto;
}

.footer-info > div {
  width: 25%;
  
}