* {
  box-sizing: border-box;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-bar {
  width: 100%;
  position: fixed;
  z-index: 6000;
}
.nav-container {
  position: absolute;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  color: #000000;
  background-color: #ffffff;
  border-bottom: 3px solid #e6e4e4;
  z-index: 6000;
}

.nav-bar .overlay {
  position: absolute;
  width: 100%;
  height: 12vh;
  z-index: 6000;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-logo {
  padding: 0;
  margin: 0;
}

.menu {
  margin-top: 5vh;
  z-index: 7000;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: baseline;
  align-self: center;
}

.link {
  font-size: 20px;
  display: block;
  padding-right: 1em;
  text-decoration: none;
  color: #000000;
}

.link:hover {
  color: #333333;
}

.link:last-child {
  background-color: #040d20;
  color: white;
  padding: 6px 15px;
  border-radius: 10px;
}

.link:last-child .link:hover {
  color: wheat;
  background-color:  #333333;
}

.intro-section {

  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20vh auto;
}

.intro-img {
  padding-top: 3vh;
  width: 532px;
  height: 420px;
  opacity: 0.7;
  aspect-ratio: 16/9;
  z-index: -1000;
  border-radius: 25px 25px 25px 25px;
  
}

.intro-msg {
    width: 70%;
    margin: 5vh auto 0vh;
}

.intro-body {
  width: 100%;
  color: #ffffff;
  padding-right: 10%;

}
.intro-body h1 {
  font-size: xx-large;
  color: #dfcb12;
}

.intro-body div {
  font-size: 25px;
}


.intro-btn {
  margin-top: 10vh;
}

.intro-btn a {
  padding: 5px 30px;
  background-color: #dfcb12;
  text-decoration: none;
  color: #040d20;
  border-radius: 8px;
  transition: 1s all;
}

.intro-btn a:hover {
  background-color: #151401;
  color: #ffffff;
}
.overlay {
  background-color: #040d20;
  padding: 3vh 0vh;
}

.specials {
  max-width: 100%;
  margin: auto;
  margin-bottom: 5vh;
}

.specials-container {
  background-color: #ffffff;
  padding: 10vh 3vw;
  max-width: 80%;
  margin: auto;
}

.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-content: baseline;
  align-self: baseline;
}

.order-btn {
  background-color: #040d20;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}

.order-btn:hover {
  background-color: #011032;
  color: wheat;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.specials-meals {
  display: flex;
  justify-content: space-between;
  padding-top: 10vh;
  margin-bottom: 1vh;
}
.specials-card {
  width: 30%;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  box-shadow: 3px 4px 10px #c8c8c8;
}

.specials-img img{
  display: block;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 200px;
}

.meal-header 
{
  display: flex;
  justify-content: space-between;
}

.meal-body 
{
  padding: 0vh 2vw;
}

.meal-order {
  padding: 3vh 0vw;
  color: #010d2a;
  font-size: 20px;
  text-align: right;
}

.meal-order a {
  background-color: #011a52;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: smaller;
  color: #ffffff;
  cursor: pointer;

}

.testimonials {
  text-align: center;
  background-color: #010d2a;
  margin-top: 10vh; 
  padding: 10vh 0vh;
}

.testimonials-container {
  max-width: 80%;
  margin: auto;
  margin-bottom: 10vh;
}

.testimonials-container h2 {
  color: #ffffff;
}


.testimonial-card {
  margin-top: 5vh;
  text-align: justify;
  padding: 20px;
  background-color: #f9f9f9;
  margin-right: 10px;
  border-radius: 10px;
}

.testimonial-msg {

}

.testimonial-avatar {
  display: flex;
}


.testimonial-img {
  width: 25%;
  height: 25%;
  display: block;
  padding-right: 20px;
  border-radius: 50%;
}

.testimonial-details h5 {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.testimonial-details p {
  margin-top: 0;
}

.book-div {
  margin: auto;
  margin-bottom: 10vh;
  display: flex;
  max-width: 80%;

}

.book-div > div {
  padding-top: 20vh;
  width: 50%;
}

.book-div .book-img img {
  display: block;
  max-width: 100%;
}

.book-div .book-form {
  padding-left: 30px;
  color: #010d2a;
}

.book-form .form-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}


.form-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  /*justify-items: baseline;
  align-items: baseline;
  align-self: baseline; */
}

.form-div {
  width: 50%;
  padding-bottom: 10px;
  padding-left: 20px;
}
.form-label {
  width: 50%;
  padding-bottom: 15px;

}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
}


.form-select{
  display: block;
  height: 8vh;
  width: 100%;
  background-color: #f9f9f9;
  text-align: center;
  color: #011032;
  border: none;
  border-radius: 10px;
}

.form-select::after {
  content: "";
}

textarea {
  width: 90%;
  display: block;
  height: 100px;
  resize: none;
  margin: auto auto;
}

.form-btn {
  width: 100%;
  padding-top: 20px;
}

.form-link {
  width: 50%;
  display: block;
  margin: auto auto;
  background-color: #011a52;
  color: #e6e4e4;
  border-radius: 5px;
  padding: 7px;
  border: none;
  font-size: 15px;
}

.all-chefs h2 {
  padding: 5vh;
  margin-top: 5vh;
}

.all-chefs-container {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 10vh auto;
}

.chef-card {
  width: 25%;
  padding: 25px 25px;
  border-radius: 15px;
  background-color: rgb(240, 236, 227);
  margin-right: 10px;
  transition: height 3s;
  margin-bottom: 5vh;
}

.chef-card:hover {
  height: px;
}

.chef-card h3, .chef-card p {
  text-align: center;
}

.chef-card img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

footer {
  padding: 10vh 0vh 0vh 0vh;
  background-color: #010d2a;
  color: #f9f9f9;
}

.footer-info {
  display: flex;
  max-width: 80%;
  margin: auto;
  justify-content: space-around;
}

.footer-title {
  color: #dfcb12;
  position: relative;
}

.footer-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 3px;
  padding-left: -5px;
  top: 10px;
  color: #dfcb12;
  background-color: #dfcb12;
  margin-left: 5px;
}

.company-menu, .contact-menu {
  list-style: none;
}

.company-menu li, .contact-menu li {
  padding-bottom: 5px;
}

.company-menu li:hover {
  transition: 0.9s all;
  letter-spacing: 2px;
}

.company-menu li a {
  color: #f9f9f9;
  text-decoration: none;
}

.newsletter-input {
  padding: 3px 4px;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #040d20;
  border: none;
  appearance: none;
  outline: none;
}

.newsletter-input:focus {
  appearance: none;
  border: none;
}

.newsletter-btn {
  background-color: #dfcb12;
  display: inline-block;
  height: 40px;
  padding: 11.75px 20px;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
}

.terms {
  margin-top: 5vh;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: baseline;
}

.terms li::after {
  content: " | ";
  margin-right: 5px;
}

footer > p {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 5vh;
}

/* Contact us Design */
.contact-title {
  padding-top: 15vh;
  text-align: center;
}

.contact-div {
  margin: auto;
  margin-bottom: 10vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.contact-img {
  width: 50%;
  margin-right: 3vw;
}

.contact-img img{
  display: block;
  width: 100%;
  height: 425px;
}

.contact-form {
  display: block;
  width: 50%;
}

.contact-form textarea {
  width: 100%;
}

.contact-label {
  margin-top: 2vh;
  display: block;
  color: #011a52;
  margin-bottom: 0.30em;
}

.contact-input {
  display: block;
  width: 100%;
  height: 5vh;
}

.contact-textarea {
  resize: none;
  width: 100%;
  height: 20vh;
}

.contact-btn-div {
  text-align: right;
  margin: 2vh auto;
}

.contact-btn {
  color: white;
  background-color: green;
  border: none ;
  padding: 10px 20px;
  margin-bottom: 2vh;
}

@media screen  and (max-width: 750px ) {
  .contact-div {
    flex-direction: column;
  }
  .contact-img {
    width: 100%;
  }

  .contact-img img {
    display: block;
  }

  .contact-form {
    width: 100%;
  }
}
 
.error-com, .success-com{
  position: absolute;
  top: 10vh;
  height: 8vh;
  margin: auto;
  left: 30vh;
  right: 30vh;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 9999999;
  width: 30%;
  color: white;
  font-size: medium;
  background-color: rgb(163, 28, 28);
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.success-com {
  background-color: rgb(93, 186, 0);
}

.cancel-button {
  color: #c8c8c8;
  margin-left: 20px;
  cursor: pointer;
}

.cancel-button:hover {
  color: red;
}

.error {
  color: rgb(163, 28, 28);
}

/* Login Style */

.login-div {
  width: 100%;
  margin: auto;
  padding: 20vh;
  height: 100vh;
  background-color: #040d20;
}

.login-label {
  color: #011a52;
}


.login-logo {
  width: 25%;
  text-align: center;
  margin: auto;
  margin-bottom: 2vh;
}

.login-forgot {
  color: #010d2a;
  margin-top: 20px;
}

.login-forgot:link, .login-forgot:visited {
  color: #011a52;
}

.login-btn-div {
  text-align: center;
}

.login-btn {
  border-radius: 10px;
  padding: auto 10px;
  cursor: pointer;
}

.auth-form {
  width: 25%;
  padding: 2vh;
  margin: auto;
  color: #011a52;
  background-color: white;
  border-radius: 10px;
}

.auth-form > h2 {
  text-align: center;
}
@media screen and (max-width: 500px) {
  .auth-form {
    width: 100%;
  }

  .login-div {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media screen and (max-width: 700px) {
  .auth-form {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .auth-form {
    width: 75%;
  }
}

.not-found-div { 
  padding-top: 20vh;
  padding-left: 15vw;
  padding-right: 15vw;
  background-color: #040d20;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.oops-img-div, .oops-text-div {
  width: 50%;
}

.oops-text-div {
  width: 100%;
}

.oops-img-div {
  margin-right: 1vw;
}

.oops-img-div img {
  width: 100%;
  display: block;
}

.base-url:link, .base-url:visited {
  color: #e6e4e4;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  .not-found-div {
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 100vh;
  }
  .oops-img-div, .oops-text-div {
    width: 100%;

  }

  .oops-img-div{
    display: none;
  }
}

.menu-section {
 padding-top: 15vh;
 padding-bottom: 15vh;
}

.menu-div {
  padding-left: 3vw;
  display: flex;
}


.menu-title {
 text-align: center;
 width: 100%;
}


.menu-category {
  width: 15%;
}

.menu-item-list {
  list-style-type: none;
}
.normal {
  padding-bottom: 7px;
  transition: all 1s;
}

.menu-item-list > li:hover {
  letter-spacing: 3px;
  cursor: pointer;
}

.active {
  letter-spacing: 3px;
  cursor: pointer;
}

.menu-card {
  width: 85%;
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.meal-link-div {
  display: flex;
  justify-content: space-around;
  padding: auto 4vw;
  padding-bottom: 3vh;
  
}
.meal-link {
  display: block;
}
.meal-link:link, .meal-link:visited {
  color: #011032;
  text-decoration: none;
}

.menu-card-item {
  box-shadow: 3px 3px 10px #dbd8d8;
  margin-right: 3%;
  margin-bottom: 3%;
  border-radius: 3px;
  width: 20%;
}

.meal-image{
  width: 100%;
  height: 100px;
}

.meal-title {
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 10px;
  text-align: center;
}

.meal-title {
  
}